/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Permanent+Marker&display=swap');

/* GLOBAL STYLES */

:root {
  --font-primary: 'Permanent Marker', sans-serif;
  --font-secondary: 'Acme', serif;
  --font-code: 'Amatic SC', monospace;
  --bg-color: #9b25db;
  --font-color: #ffffff;
  --btn-bg-color: #e1d6f3;
  --accent-color: #261933;
  --header-shadow: rgb(255, 243, 243) 0px 0px 5px;
}

h1 {font-family: var(--font-primary);
    text-shadow: 2px 2px #000000;
  }
h2 {font-family: var(--font-secondary);
    text-shadow: 2px 2px #000000;
}
h3 {font-family: var(--font-secondary);}
p  {font-family: var(--font-secondary);}
a  {text-decoration: none;
    text-emphasis-color: none;
    color:#ffffff }

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  margin: 0;
/*  display: flex;
  flex-flow: column;
  height: 100vh;*/
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/*Stages Content*/
.column {
  float: left;
  width: 25%;
  padding: 25px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}


/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

.dropbtn {
  background-color: var(--btn-bg-color);
  color: var(--btn-bg-color);
  padding: 1rem 2rem;
  border-radius: 5rem;
  margin-left: 2rem;
  border: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--btn-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--accent-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: var(--btn-bg-color)}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--btn-bg-color);}



/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  font-family: var(--font-secondary);
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
  .column{
    width: 100%;
  }
}
 
